pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  border-style: solid;
  border-width: 1.5px;
  border-color: #d3d3d3;
  border-radius: 4px;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  background: #fff;
  color: #000;
}
.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-link,
.hljs-section,
.hljs-string,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  color: #888;
}
.hljs-comment,
.hljs-deletion,
.hljs-meta,
.hljs-quote {
  color: #888;
}
.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-strong,
.hljs-type {
  font-weight: 700;
}
.hljs-emphasis {
  font-style: italic;
}
