:root {
  --tundora: #403f3f;
  --smoky: #0a0908;
  --hillary: #adaa8a;
  --dawn-pink: #f1eadf;
  --alizarin: #e23128;
  --active-link-red: light-dark(#ca1e00, #da70d6);
  --passive-link-red: #8b0000;
  --olive: #5a7800;
  --venice: #075a78;
  --astral: #338ba3;
  --spring-wood: #f9f6f1;
  --botticelli: #d4e7ec;
  --mysterio: hsl(38, 40%, 96%);
  --text-light: #6c6c6c;
  --augbergine: #472c4c;
  --blockquote-fg: light-dark(#6c6c6c, #acacac);

  --fg-color: var(--smoky);
  --section-bg: #fff;
  --section-fg: var(--smoky);
  --blockquote-bg: var(--mysterio);
  --link-color: var(--venice);
  --code-fg: var(--smoky);
  --code-bg: #fff;
  --code-contrast: var(--olive);
  --header-bg: var(--dawn-pink);
  --header-fg: var(--alizarin);
  --footer-bg: var(--mysterio);
  --footer-separator: var(--dawn-pink);
  --quote-border: var(--alizarin);
  --subtle: var(--botticelli);
  --teaser-border: var(--dawn-pink);
  --hl-conditional: var(--olive);

  --standard-border-radius: 4px;
}
